<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class ="about content">
        <h2>about us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime repudiandae excepturi inventore deleniti neque. Deleniti consequatur nemo impedit consectetur cumque accusantium iusto earum repellat! Mollitia sint eaque porro ratione est quia error perspiciatis distinctio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime repudiandae excepturi inventore deleniti neque. Deleniti consequatur nemo impedit consectetur cumque accusantium iusto earum repellat! Mollitia sint eaque porro ratione est quia error perspiciatis distinctio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime repudiandae excepturi inventore deleniti neque. Deleniti consequatur nemo impedit consectetur cumque accusantium iusto earum repellat! Mollitia sint eaque porro ratione est quia error perspiciatis distinctio!</p>
    </div>
</body>
<%- include('./partials/footer.ejs') %>
</html>