<nav>
    <divv class="site-title">
        <a href="/"><h1>blog ninja  </h1></a>
        <p>a net ninja site-title</p>
    </div>
    <ul>
        <li><a href="/">blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">create blog</a></li>
    </ul>
</nav>